<li>

  
  <span class="user"><%= message.user.name %>: </span>
  <span class="content"><%= message.content %></span>
  <span class="timestamp"><%= message.created_at.strftime("%d-%m-%Y %H:%M:%S") %></span>

  
</li>