

<%= form_for @message, remote: true, html: {'data-type' => 'json'}, update:{success: "alert('ok')"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
   
  <div class="span10">
    <%= f.text_field :content, placeholder: "Пишите здесь", autofocus: true, autocomplete: :off %>
  
  <%= f.submit "Отправить", class: "btn btn-success"%>
  </div>
<% end %>