<% provide(:title, 'Комнаты') %>
<h1>Комнаты</h1>

<%= will_paginate %>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li>
  <%= room.no_pass ? @class = "free" : @class = "pass"
    link_to room.name, {:controller => "rooms", :action =>"show", :id => room.id}, :class => @class%>
     <% if (@class == "pass") %>
       <%= image_tag "lock.png", size: "18", alt: "Lock", class: "lock_icon" %>
     <% end %> 
</li>
  <% end %>
</ul>

<%= will_paginate %>