<% provide(:title, 'Комнаты') %>

<script>
window.onload=function() {
    document.getElementById('s').innerHTML=document.getElementById('x').innerHTML.replace(/(http:\/\/[^\s,]+)/gi, '<a href=\'$1\'>$1</a>');
}
</script>

<h2>Комнаты</h2>

<%= will_paginate %>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li>
  <%  room.no_pass ? @class = "free" : @class = "pass" %>
   <% @size = '18' %>
   <%= render 'shared/lock_icon' %>
   <%= link_to room.name, {:controller => "rooms", :action =>"show", :id => room.id}, :class => @class
   %>

</li>
  <% end %>
</ul>

<%= will_paginate %>