<% provide(:title, 'Список комнат') %>

 


<h2>Комнаты</h2>

<%= will_paginate %>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li>
  <%  room.no_pass ? @class = "free" : @class = "pass" %>
   <% @size = '18' %>
   <%= render 'shared/lock_icon' %>
   <%= link_to room.name, {:controller => "rooms", :action =>"show", :id => room.id}, :class => @class+" link_black"
   %>

</li>
  <% end %>
</ul>

<%= will_paginate %>