<% provide(:title, @room.name) %>



 <script>
 last_message_id = 0;
 period = 1;
 $(document).ready(function(){
 get_messages();
 new_messages_check();
 

});
</script>

<div class="row-fluid">

<h2>
<% @room.no_pass ? @class = "free" : @class = "pass" %>
<% @size = '23'%>
<%= render 'shared/lock_icon' %>
<%= @room.name %> </h2>
</div>


<div class="row-fluid">
     <section>
        <%= render 'shared/message_form' %>
     

 
    <div class="span10 history btn-group pull-center" data-toggle="buttons-radio">
    <button class="btn btn-mini active" id="btn_day" data-toggle="button">День</button>
    <button class="btn btn-mini" id="btn_week" data-toggle="button">Неделя</button>
    <button class="btn btn-mini" id = "btn_month" data-toggle="button">Месяц</button>
    <button class="btn btn-mini" id = "btn_all" data-toggle="button">Все</button>
    </div>
</section>

      <ol class="span10 messages">
        
      </ol>
 </div>
</div>