<% provide(:title, @room.name) %>



 <script>
 last_message_id = 0;
 $(document).ready(function(){
 get_messages();
 new_messages_check();
$('#new_message').submit(function(){
$('.new_mes').removeClass('new_mes border15px')
})

$('.history .btn-info').click(function (e) {
  $('.history .btn-info').removeClass('active')
  $(this).addClass('active')
})

}
 );
</script>

<div class="row-fluid">

<h2>
<% @room.no_pass ? @class = "free" : @class = "pass" %>
<% @size = '23'%>
<%= render 'shared/lock_icon' %>
<%= @room.name %> </h2>
</div>


<div class="row-fluid">
     <section>
        <%= render 'shared/message_form' %>
      </section>

<% if false %>



    <div class="history btn-group pull-center">
    <button class="btn-link">Сегодня</button>
    <button class="btn-link">Неделя</button>
    <button class="btn-link">Месяц</button>
    <button class="btn-link">Все</button>
    </div>


<% end %>
 <ol class="messages">
  <!--  <% if @room.messages.any? %>
       <%= render @messages %>
     -->
     <% end %>
  </ol>
 </div>
</div>