@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.lock_icon {vertical-align:top;}



.new_mes {
border-left: 4px solid LightGreen !important;}

.mes-input {
  vertical-align: middle;

}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 {padding:0px !important}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
#message_content{
  margin-top: 10px
}


input {
  height: auto !important;
}

/* rooms index */

.rooms {
  list-style: none;
  margin: 0;
  li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
      border-bottom: 1px solid $grayLighter;
      }
   
  }
}

/* messages */

.history {
  padding-top: 10px;

}

.messages {

 padding-top: 5px;
           list-style: none;
            margin: 10px 0 0 0;
           height: 300px !important;
          overflow-y: scroll;

              li {
                  padding: 5px 10px;
                 border-top: 1px solid #e8e8e8;
                 border-radius: 15px;
                 border-left: 4px solid #e8e8e8;
                }
          }
        .content {
                
                }
        .timestamp {
              display:block;
                    color: $grayLight;
                    font-size: 0.6em;
                      }
         .user {
                    color: $blue;
                    font-weight:bold;
                      }             

