@import "bootstrap";

/* mixins, variables, etc. */

@mixin link_black {


    color: black !important;
    text-decoration: none !important;
   

}



$grayMediumLight: #eaeaea;


.link_black:hover{
        @include link_black;
      }


#div_chpass{
  display: none;

}

label.inline{


  padding-left: 5px !important;


}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.lock_icon {vertical-align:top;}





.mes-input {
  vertical-align: middle;

}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* header */
.logo {
  display:inline;
}



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 {padding:0px !important}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
   font-size: 1.2em;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
#message_content{
  margin-top: 10px
}


input {
  height: auto !important;
}

/* rooms index */

.rooms {
  list-style: none;
  margin: 0;
  li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
      border-bottom: 1px solid $grayLighter;
      }
   
  }
}

/* messages */

/* at5tach file */
$att_height: 25px;

#att_file_container{
  padding-bottom:20px;
  height: $att_height;
}

#btn_display_file{
      i {
      vertical-align:middle
      }

  display:inline-block;
  height: $att_height;
  width: $att_height;
  vertical-align:top;
  padding:0;

}

#attach_file{
  display:inline-block;
  transition: height 0.01s;
  
}

#new_attach_file{
height: $att_height;

margin: 0;
}

#files_file{
height: $att_height !important;
margin:0;


}
    
#attach_send_btn {
padding-top: 0px !important;
height: $att_height !important;
vertical-align: top 
}

  




.messages {

 padding-top: 5px;
           list-style: none;
            margin: 10px 0 0 0;
           height: 300px !important;
          overflow-y: scroll;

              li {
                  padding: 5px 14px;
                 border-top: 1px solid #e8e8e8;
                 border-radius: 1px;
                 border-left: 0px;
                 
                }
          }
        .content {
                
                }
        .timestamp {
              display:block;
                    color: #606060 ;
                    font-size: 0.6em;
                      }
         .user {
                    
                    font-weight:bold;
                      }             
.new_mes {
border-left: 4px solid #e8e8e8 !important;
padding-left: 10px !important;

}

#room_info {
padding: 4px 6px;
border-left:1px solid $grayLighter;
width: 100%;
min-height: 300px;

.users{
 padding-left:15px;
  list-style: none;
    li a:hover{
    @include link_black;
      
 } 
 
}

.in_room{
  color: black !important;
  font-weight: bold;
}

}
